{% extends "module/install/main.tpl.html" %}
{% use "module/install/results.tpl.html" %}
{% import 'main/macros.tpl.html' as macro %}

{% block install %}
<div class="row-fluid">
	<div class="span12">{{ block('results') }}</div>
</div>
<div class="row-fluid">
   <div class="span6">
	<form id="psm_config" class="form-horizontal" action="install.php?action=config" method="post">
	  {{ macro.csrf_input() }}
		<p>어플리케이션이 동작할 기본 주소 :</p>
		<div class="control-group">
		<label class="control-label" for="base_url">어플리케이션 기본 주소</label>
		<div class="controls">
		  <input type="text" id="base_url" name="base_url" value="{{ base_url }}" />
		</div>
	  </div>
	  <p>데이터베이스 정보:</p>
	  <div class="control-group">
		<label class="control-label" for="host">데이터베이스 호스트</label>
		<div class="controls">
		  <input type="text" id="host" name="db_host" value="{{ db_host }}" />
		</div>
	  </div>
	  <div class="control-group">
		<label class="control-label" for="host">데이터베이스 포트</label>
		<div class="controls">
		  <input type="text" id="port" name="db_port" value="{{ db_port }}" />
		</div>
	  </div>
	  <div class="control-group">
		<label class="control-label" for="name">데이터베이스명</label>
		<div class="controls">
		  <input type="text" id="name" name="db_name" value="{{ db_name }}" placeholder="db name" />
		</div>
	  </div>
	  <div class="control-group">
		<label class="control-label" for="user">데이터베이스 사용자명</label>
		<div class="controls">
		  <input type="text" id="user" name="db_user" value="{{ db_user }}" placeholder="db user" />
		</div>
	  </div>
	  <div class="control-group">
		<label class="control-label" for="pass">데이터베이스 패스워드</label>
		<div class="controls">
		  <input type="password" id="pass" name="db_pass" value="{{ db_pass }}" placeholder="db password" />
		</div>
	  </div>
	  <div class="control-group">
		<label class="control-label" for="prefix">테이블 구분자</label>
		<div class="controls">
		  <input type="text" id="prefix" name="db_prefix" value="{{ db_prefix }}" />
		</div>
	  </div>
	  <div class="control-group">
		<div class="controls">
		  <button type="submit" class="btn">저장</button>
		</div>
	  </div>
	</form>
   </div>
   {% if include_config_new_copy %}
	<div class="span6">
		<h3>환경설정파일 :</h3>
		<div class="alert alert-error">Unable to save your configuration.</div>
		<p>데이터베이스 정보가 유효하지만 구성 파일을 자동으로 작성할 수 없습니다.
			"config.php"라는 프로젝트 디렉토리에 새 파일을 만들고 아래 정보를 복사하십시오.</p>
		<p>데이터베이스 구성을 config.php 파일로 복사 한 후 버튼을 눌러 계속하십시오.</p>
		<p class="pull-left"><textarea rows="10">{{ php_config }}</textarea></p>
		<p class="offset2"><input type="submit" class="btn btn-primary" value="I have saved the configuration" onclick="location.reload(true);" /></p>
	</div>
   {% endif %}
</div>
{% endblock %}
